h1 {
  color: red;
}

h2 {
  color: #b3b3b3;
}

table {
  // border: #ffffff;
}

body {
  background-color: #121212;
}

div {
  color: rgb(221, 221, 221);
  border: #ffffff;
  // font-family: wingdings;
}

button {
  // font-family: wingdings;
  border-radius: 10px;
}
